challenge_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
<!--  CHALLENGE OUTPUT ----------------------------->
       	
        <message name="LoadAllChallengeOutputs"/>
        <message name="LoadAllChallengeOutputsResponse">
                <part name="LoadAllChallengeOutputsReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeOutputByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadChallengeOutputByIDResponse">
                <part name="LoadChallengeOutputByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeOutputBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadChallengeOutputBySchoolIDResponse">
                <part name="LoadChallengeOutputBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeOutputByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="LoadChallengeOutputByStudentIDResponse">
                <part name="LoadChallengeOutputByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeOutputByStudentIDAndEtapa">
        		<part name="studentID" type="xsd:int"/>
        		<part name="etapa" type="xsd:string"/>
        </message>
        <message name="LoadChallengeOutputByStudentIDAndEtapaResponse">
                <part name="LoadChallengeOutputByStudentIDAndEtapaReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveChallengeOutput">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveChallengeOutputResponse">
                <part name="SaveChallengeOutputReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveChallengeOutputByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveChallengeOutputByIDResponse">
                <part name="RemoveChallengeOutputByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveChallengeOutputBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="RemoveChallengeOutputBySchoolIDResponse">
                <part name="RemoveChallengeOutputBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveChallengeOutputByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="RemoveChallengeOutputByStudentIDResponse">
                <part name="RemoveChallengeOutputByStudentIDReturn" type="xsd:string"/>
        </message>
        
<!-- CHALLENGE SUMMARY ----------------------------->
       	
        <message name="LoadAllChallengeSummaries"/>
        <message name="LoadAllChallengeSummariesResponse">
                <part name="LoadAllChallengeSummariesReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeSummaryByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadChallengeSummaryByIDResponse">
                <part name="LoadChallengeSummaryByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeSummaryBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadChallengeSummaryBySchoolIDResponse">
                <part name="LoadChallengeSummaryBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeSummaryByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="LoadChallengeSummaryByStudentIDResponse">
                <part name="LoadChallengeSummaryByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadChallengeSummaryByStudentIDAndEtapa">
        		<part name="studentID" type="xsd:int"/>
        		<part name="etapa" type="xsd:string"/>
        </message>
        <message name="LoadChallengeSummaryByStudentIDAndEtapaResponse">
                <part name="LoadChallengeSummaryByStudentIDAndEtapaReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveChallengeSummary">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveChallengeSummaryResponse">
                <part name="SaveChallengeSummaryReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveChallengeSummaryByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveChallengeSummaryByIDResponse">
                <part name="RemoveChallengeSummaryByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveChallengeSummaryBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="RemoveChallengeSummaryBySchoolIDResponse">
                <part name="RemoveChallengeSummaryBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveChallengeSummaryByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="RemoveChallengeSummaryByStudentIDResponse">
                <part name="RemoveChallengeSummaryByStudentIDReturn" type="xsd:string"/>
        </message>
        
<!--  WEEK SUMMARY ----------------------------->
 
        <message name="LoadAllWeekSummaries"/>
        <message name="LoadAllWeekSummariesResponse">
                <part name="LoadAllWeekSummariesReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWeekSummaryByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadWeekSummaryByIDResponse">
                <part name="LoadWeekSummaryByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWeekSummaryBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadWeekSummaryBySchoolIDResponse">
                <part name="LoadWeekSummaryBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWeekSummaryByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="LoadWeekSummaryByStudentIDResponse">
                <part name="LoadWeekSummaryByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWeekSummaryByStudentIDAndEtapa">
        		<part name="studentID" type="xsd:int"/>
        		<part name="etapa" type="xsd:string"/>
        </message>
        <message name="LoadWeekSummaryByStudentIDAndEtapaResponse">
                <part name="LoadWeekSummaryByStudentIDAndEtapaReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveWeekSummary">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveWeekSummaryResponse">
                <part name="SaveWeekSummaryReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveWeekSummaryByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveWeekSummaryByIDResponse">
                <part name="RemoveWeekSummaryByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveWeekSummaryBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="RemoveWeekSummaryBySchoolIDResponse">
                <part name="RemoveWeekSummaryBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveWeekSummaryByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="RemoveWeekSummaryByStudentIDResponse">
                <part name="RemoveWeekSummaryByStudentIDReturn" type="xsd:string"/>
        </message>
       
        
        <portType name="ChallengeWSPortType">
<!--  CHALLENGE OUTPUT ----------------------------->
                <operation name="LoadAllChallengeOutputs">
                        <input message="typens:LoadAllChallengeOutputs"/>
                        <output message="typens:LoadAllChallengeOutputsResponse"/>
                </operation>
                <operation name="LoadChallengeOutputByID">
                        <input message="typens:LoadChallengeOutputByID"/>
                        <output message="typens:LoadChallengeOutputByIDResponse"/>
                </operation>
                <operation name="LoadChallengeOutputBySchoolID">
                        <input message="typens:LoadChallengeOutputBySchoolID"/>
                        <output message="typens:LoadChallengeOutputBySchoolIDResponse"/>
                </operation>
                <operation name="LoadChallengeOutputByStudentID">
                        <input message="typens:LoadChallengeOutputByStudentID"/>
                        <output message="typens:LoadChallengeOutputByStudentIDResponse"/>
                </operation>
                <operation name="LoadChallengeOutputByStudentIDAndEtapa">
                        <input message="typens:LoadChallengeOutputByStudentIDAndEtapa"/>
                        <output message="typens:LoadChallengeOutputByStudentIDAndEtapaResponse"/>
                </operation>
                <operation name="SaveChallengeOutput">
                        <input message="typens:SaveChallengeOutput"/>
                        <output message="typens:SaveChallengeOutputResponse"/>
                </operation>
                <operation name="RemoveChallengeOutputByID">
                        <input message="typens:RemoveChallengeOutputByID"/>
                        <output message="typens:RemoveChallengeOutputByIDResponse"/>
                </operation>
                <operation name="RemoveChallengeOutputBySchoolID">
                        <input message="typens:RemoveChallengeOutputBySchoolID"/>
                        <output message="typens:RemoveChallengeOutputBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveChallengeOutputByStudentID">
                        <input message="typens:RemoveChallengeOutputByStudentID"/>
                        <output message="typens:RemoveChallengeOutputByStudentIDResponse"/>
                </operation>
               
<!--  CHALLENGE SUMMARY ----------------------------->
                <operation name="LoadAllChallengeSummaries">
                        <input message="typens:LoadAllChallengeSummaries"/>
                        <output message="typens:LoadAllChallengeSummariesResponse"/>
                </operation>
                <operation name="LoadChallengeSummaryByID">
                        <input message="typens:LoadChallengeSummaryByID"/>
                        <output message="typens:LoadChallengeSummaryByIDResponse"/>
                </operation>
                <operation name="LoadChallengeSummaryBySchoolID">
                        <input message="typens:LoadChallengeSummaryBySchoolID"/>
                        <output message="typens:LoadChallengeSummaryBySchoolIDResponse"/>
                </operation>
                <operation name="LoadChallengeSummaryByStudentID">
                        <input message="typens:LoadChallengeSummaryByStudentID"/>
                        <output message="typens:LoadChallengeSummaryByStudentIDResponse"/>
                </operation>
                <operation name="LoadChallengeSummaryByStudentIDAndEtapa">
                        <input message="typens:LoadChallengeSummaryByStudentIDAndEtapa"/>
                        <output message="typens:LoadChallengeSummaryByStudentIDAndEtapaResponse"/>
                </operation>
                <operation name="SaveChallengeSummary">
                        <input message="typens:SaveChallengeSummary"/>
                        <output message="typens:SaveChallengeSummaryResponse"/>
                </operation>
                <operation name="RemoveChallengeSummaryByID">
                        <input message="typens:RemoveChallengeSummaryByID"/>
                        <output message="typens:RemoveChallengeSummaryByIDResponse"/>
                </operation>
                <operation name="RemoveChallengeSummaryBySchoolID">
                        <input message="typens:RemoveChallengeSummaryBySchoolID"/>
                        <output message="typens:RemoveChallengeSummaryBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveChallengeSummaryByStudentID">
                        <input message="typens:RemoveChallengeSummaryByStudentID"/>
                        <output message="typens:RemoveChallengeSummaryByStudentIDResponse"/>
                </operation>
               
<!--  WEEK SUMMARY ----------------------------->
                <operation name="LoadAllWeekSummaries">
                        <input message="typens:LoadAllWeekSummaries"/>
                        <output message="typens:LoadAllWeekSummariesResponse"/>
                </operation>
                <operation name="LoadWeekSummaryByID">
                        <input message="typens:LoadWeekSummaryByID"/>
                        <output message="typens:LoadWeekSummaryByIDResponse"/>
                </operation>
                <operation name="LoadWeekSummaryBySchoolID">
                        <input message="typens:LoadWeekSummaryBySchoolID"/>
                        <output message="typens:LoadWeekSummaryBySchoolIDResponse"/>
                </operation>
                <operation name="LoadWeekSummaryByStudentID">
                        <input message="typens:LoadWeekSummaryByStudentID"/>
                        <output message="typens:LoadWeekSummaryByStudentIDResponse"/>
                </operation>
                <operation name="LoadWeekSummaryByStudentIDAndEtapa">
                        <input message="typens:LoadWeekSummaryByStudentIDAndEtapa"/>
                        <output message="typens:LoadWeekSummaryByStudentIDAndEtapaResponse"/>
                </operation>
                <operation name="SaveWeekSummary">
                        <input message="typens:SaveWeekSummary"/>
                        <output message="typens:SaveWeekSummaryResponse"/>
                </operation>
                <operation name="RemoveWeekSummaryByID">
                        <input message="typens:RemoveWeekSummaryByID"/>
                        <output message="typens:RemoveWeekSummaryByIDResponse"/>
                </operation>
                <operation name="RemoveWeekSummaryBySchoolID">
                        <input message="typens:RemoveWeekSummaryBySchoolID"/>
                        <output message="typens:RemoveWeekSummaryBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveWeekSummaryByStudentID">
                        <input message="typens:RemoveWeekSummaryByStudentID"/>
                        <output message="typens:RemoveWeekSummaryByStudentIDResponse"/>
                </operation>
        </portType>
        
        <binding name="ChallengeWSBinding" type="typens:ChallengeWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllChallengeOutputs">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeOutputByID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeOutputBySchoolID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeOutputByStudentID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeOutputByStudentIDAndEtapa">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveChallengeOutput">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveChallengeOutputByID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveChallengeOutputBySchoolID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveChallengeOutputByStudentID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="LoadAllChallengeSummaries">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeSummaryByID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeSummaryBySchoolID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeSummaryByStudentID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadChallengeSummaryByStudentIDAndEtapa">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveChallengeSummary">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveChallengeSummaryByID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveChallengeSummaryBySchoolID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveChallengeSummaryByStudentID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                 <operation name="LoadAllWeekSummaries">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWeekSummaryByID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWeekSummaryBySchoolID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWeekSummaryByStudentID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWeekSummaryByStudentIDAndEtapa">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveWeekSummary">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveWeekSummaryByID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveWeekSummaryBySchoolID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveWeekSummaryByStudentID">
                        <soap:operation soapAction="urn:ChallengeWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
        </binding>
        
        <service name="ServiceService">
                <port name="ChallengeWSPort" binding="typens:ChallengeWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/challenge_ws.php"/>
                </port>
        </service>
</definitions>
