diagnosis_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
        <message name="LoadAllDiagnosis"/>
        <message name="LoadAllDiagnosisResponse">
                <part name="LoadAllDiagnosisReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadDiagnosisByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadDiagnosisByIDResponse">
                <part name="LoadDiagnosisByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadDiagnosisBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadDiagnosisBySchoolIDResponse">
                <part name="LoadDiagnosisBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadDiagnosisByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="LoadDiagnosisByStudentIDResponse">
                <part name="LoadDiagnosisByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadDiagnosisByStudentGroupID">
        		<part name="studentGroupID" type="xsd:int"/>
        </message>
        <message name="LoadDiagnosisByStudentGroupIDResponse">
                <part name="LoadDiagnosisByStudentGroupIDReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveDiagnosis">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveDiagnosisResponse">
                <part name="SaveDiagnosisReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveDiagnosisByID">
        		<part name="idToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveDiagnosisByIDResponse">
                <part name="RemoveDiagnosisByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveDiagnosisBySchoolID">
        		<part name="schoolIDToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveDiagnosisBySchoolIDResponse">
                <part name="RemoveDiagnosisBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveDiagnosisByStudentID">
        		<part name="studentIDToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveDiagnosisByStudentIDResponse">
                <part name="RemoveDiagnosisByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="UpdateDiagnosis">
        		<part name="update" type="xsd:string"/>
        </message>
        <message name="UpdateDiagnosisResponse">
                <part name="UpdateDiagnosisReturn" type="xsd:string"/>
        </message>
        
        
        <portType name="DiagnosisWSPortType">
                <operation name="LoadAllDiagnosis">
                        <input message="typens:LoadAllDiagnosis"/>
                        <output message="typens:LoadAllDiagnosisResponse"/>
                </operation>
                <operation name="LoadDiagnosisByID">
                        <input message="typens:LoadDiagnosisByID"/>
                        <output message="typens:LoadDiagnosisByIDResponse"/>
                </operation>
                <operation name="LoadDiagnosisBySchoolID">
                        <input message="typens:LoadDiagnosisBySchoolID"/>
                        <output message="typens:LoadDiagnosisBySchoolIDResponse"/>
                </operation>
                <operation name="LoadDiagnosisByStudentID">
                        <input message="typens:LoadDiagnosisByStudentID"/>
                        <output message="typens:LoadDiagnosisByStudentIDResponse"/>
                </operation>
                <operation name="LoadDiagnosisByStudentGroupID">
                        <input message="typens:LoadDiagnosisByStudentGroupID"/>
                        <output message="typens:LoadDiagnosisByStudentGroupIDResponse"/>
                </operation>
                <operation name="SaveDiagnosis">
                        <input message="typens:SaveDiagnosis"/>
                        <output message="typens:SaveDiagnosisResponse"/>
                </operation>
                <operation name="RemoveDiagnosisByID">
                        <input message="typens:RemoveDiagnosisByID"/>
                        <output message="typens:RemoveDiagnosisByIDResponse"/>
                </operation>
                <operation name="RemoveDiagnosisBySchoolID">
                        <input message="typens:RemoveDiagnosisBySchoolID"/>
                        <output message="typens:RemoveDiagnosisBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveDiagnosisByStudentID">
                        <input message="typens:RemoveDiagnosisByStudentID"/>
                        <output message="typens:RemoveDiagnosisByStudentIDResponse"/>
                </operation>
                <operation name="UpdateDiagnosis">
                        <input message="typens:UpdateDiagnosis"/>
                        <output message="typens:UpdateDiagnosisResponse"/>
                </operation>
        </portType>
        
        <binding name="DiagnosisWSBinding" type="typens:DiagnosisWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllDiagnosis">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadDiagnosisByID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadDiagnosisBySchoolID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadDiagnosisByStudentID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadDiagnosisByStudentGroupID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveDiagnosis">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveDiagnosisByID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveDiagnosisBySchoolID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveDiagnosisByStudentID">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="UpdateDiagnosis">
                        <soap:operation soapAction="urn:DiagnosisWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
        </binding>
        
        <service name="DiagnosisService">
                <port name="DiagnosisWSPort" binding="typens:DiagnosisWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/diagnosis_ws.php"/>
                </port>
        </service>
</definitions>
