note_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
        <message name="LoadAllNotes"/>
        <message name="LoadAllNotesResponse">
                <part name="LoadAllNotesReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadNotesByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadNotesByIDResponse">
                <part name="LoadNotesByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadNotesBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadNotesBySchoolIDResponse">
                <part name="LoadNotesBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadNotesByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="LoadNotesByStudentIDResponse">
                <part name="LoadNotesByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadNotesByTeacherID">
        		<part name="teacherID" type="xsd:int"/>
        </message>
        <message name="LoadNotesByTeacherIDResponse">
                <part name="LoadNotesByTeacherIDReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveNotes">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveNotesResponse">
                <part name="SaveNotesReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveNotesByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveNotesByIDResponse">
                <part name="RemoveNotesByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveNotesBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="RemoveNotesBySchoolIDResponse">
                <part name="RemoveNotesBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveNotesByStudentID">
        		<part name="studentID" type="xsd:int"/>
        </message>
        <message name="RemoveNotesByStudentIDResponse">
                <part name="RemoveNotesByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveNotesByTeacherID">
        		<part name="teacherID" type="xsd:int"/>
        </message>
        <message name="RemoveNotesByTeacherIDResponse">
                <part name="RemoveNotesByTeacherIDReturn" type="xsd:string"/>
        </message>
        
        <message name="UpdateNotes">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="UpdateNotesResponse">
                <part name="UpdateNotesReturn" type="xsd:string"/>
        </message>
        
        <portType name="NoteWSPortType">
                <operation name="LoadAllNotes">
                        <input message="typens:LoadAllNotes"/>
                        <output message="typens:LoadAllNotesResponse"/>
                </operation>
                <operation name="LoadNotesByID">
                        <input message="typens:LoadNotesByID"/>
                        <output message="typens:LoadNotesByIDResponse"/>
                </operation>
                <operation name="LoadNotesBySchoolID">
                        <input message="typens:LoadNotesBySchoolID"/>
                        <output message="typens:LoadNotesBySchoolIDResponse"/>
                </operation>
                <operation name="LoadNotesByStudentID">
                        <input message="typens:LoadNotesByStudentID"/>
                        <output message="typens:LoadNotesByStudentIDResponse"/>
                </operation>
                <operation name="LoadNotesByTeacherID">
                        <input message="typens:LoadNotesByTeacherID"/>
                        <output message="typens:LoadNotesByTeacherIDResponse"/>
                </operation>
                <operation name="SaveNotes">
                        <input message="typens:SaveNotes"/>
                        <output message="typens:SaveNotesResponse"/>
                </operation>
                <operation name="RemoveNotesByID">
                        <input message="typens:RemoveNotesByID"/>
                        <output message="typens:RemoveNotesByIDResponse"/>
                </operation>
                <operation name="RemoveNotesBySchoolID">
                        <input message="typens:RemoveNotesBySchoolID"/>
                        <output message="typens:RemoveNotesBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveNotesByStudentID">
                        <input message="typens:RemoveNotesByStudentID"/>
                        <output message="typens:RemoveNotesByStudentIDResponse"/>
                </operation>
                <operation name="RemoveNotesByTeacherID">
                        <input message="typens:RemoveNotesByTeacherID"/>
                        <output message="typens:RemoveNotesByTeacherIDResponse"/>
                </operation>
                <operation name="UpdateNotes">
                        <input message="typens:UpdateNotes"/>
                        <output message="typens:UpdateNotesResponse"/>
                </operation>
                
        </portType>
        
        <binding name="NoteWSBinding" type="typens:NoteWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllNotes">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadNotesByID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadNotesBySchoolID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadNotesByStudentID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadNotesByTeacherID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveNotes">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveNotesByID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveNotesBySchoolID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveNotesByStudentID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveNotesByTeacherID">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="UpdateNotes">
                        <soap:operation soapAction="urn:NoteWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
        </binding>
        
        <service name="NoteService">
                <port name="NoteWSPort" binding="typens:NoteWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/note_ws.php"/>
                </port>
        </service>
</definitions>
