school_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
        <message name="LoadAllSchools"/>
        <message name="LoadAllSchoolsResponse">
                <part name="LoadAllSchoolsReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadSchoolsByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadSchoolsByIDResponse">
                <part name="LoadSchoolsByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadSchoolsByPublicID">
        		<part name="publicID" type="xsd:string"/>
        </message>
        <message name="LoadSchoolsByPublicIDResponse">
                <part name="LoadSchoolsByPublicIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadSchoolsBySyncCode">
        		<part name="syncCode" type="xsd:string"/>
        </message>
        <message name="LoadSchoolsBySyncCodeResponse">
                <part name="LoadSchoolsBySyncCodeReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveSchools">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveSchoolsResponse">
                <part name="SaveSchoolsReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveSchoolsByID">
        		<part name="idToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveSchoolsByIDResponse">
                <part name="RemoveSchoolsByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveSchoolsByPublicID">
        		<part name="publicIDToDelete" type="xsd:string"/>
        </message>
        <message name="RemoveSchoolsByPublicIDResponse">
                <part name="RemoveSchoolsByPublicIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveSchoolsBySyncCode">
        		<part name="syncCodeToDelete" type="xsd:string"/>
        </message>
        <message name="RemoveSchoolsBySyncCodeResponse">
                <part name="RemoveSchoolsBySyncCodeReturn" type="xsd:string"/>
        </message>
        
        <message name="UpdateSchools">
        		<part name="update" type="xsd:string"/>
        </message>
        <message name="UpdateSchoolsResponse">
                <part name="UpdateSchoolsReturn" type="xsd:string"/>
        </message>
        
        <portType name="SchoolWSPortType">
                <operation name="LoadAllSchools">
                        <input message="typens:LoadAllSchools"/>
                        <output message="typens:LoadAllSchoolsResponse"/>
                </operation>
                <operation name="LoadSchoolsByID">
                        <input message="typens:LoadSchoolsByID"/>
                        <output message="typens:LoadSchoolsByIDResponse"/>
                </operation>
                <operation name="LoadSchoolsByPublicID">
                        <input message="typens:LoadSchoolsByPublicID"/>
                        <output message="typens:LoadSchoolsByPublicIDResponse"/>
                </operation>
                <operation name="LoadSchoolsBySyncCode">
                        <input message="typens:LoadSchoolsBySyncCode"/>
                        <output message="typens:LoadSchoolsBySyncCodeResponse"/>
                </operation>
                <operation name="SaveSchools">
                        <input message="typens:SaveSchools"/>
                        <output message="typens:SaveSchoolsResponse"/>
                </operation>
                <operation name="RemoveSchoolsByID">
                        <input message="typens:RemoveSchoolsByID"/>
                        <output message="typens:RemoveSchoolsByIDResponse"/>
                </operation>
                <operation name="RemoveSchoolsByPublicID">
                        <input message="typens:RemoveSchoolsByPublicID"/>
                        <output message="typens:RemoveSchoolsByPublicIDResponse"/>
                </operation>
                <operation name="RemoveSchoolsBySyncCode">
                        <input message="typens:RemoveSchoolsBySyncCode"/>
                        <output message="typens:RemoveSchoolsBySyncCodeResponse"/>
                </operation>
                <operation name="UpdateSchools">
                        <input message="typens:UpdateSchools"/>
                        <output message="typens:UpdateSchoolsResponse"/>
                </operation>
        </portType>
        
        <binding name="SchoolWSBinding" type="typens:SchoolWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllSchools">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadSchoolsByID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadSchoolsByPublicID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadSchoolsBySyncCode">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveSchools">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveSchoolsByID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveSchoolsByPublicID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveSchoolsBySyncCode">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="UpdateSchools">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
        </binding>
        
        <service name="SchoolService">
                <port name="SchoolWSPort" binding="typens:SchoolWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/school_ws.php"/>
                </port>
        </service>
</definitions>
