school_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
        <message name="LoadAll"/>
        <message name="LoadAllResponse">
                <part name="LoadAllReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadByIDResponse">
                <part name="LoadByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadByPublicID">
        		<part name="publicID" type="xsd:string"/>
        </message>
        <message name="LoadByPublicIDResponse">
                <part name="LoadByPublicIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadBySyncCode">
        		<part name="syncCode" type="xsd:string"/>
        </message>
        <message name="LoadBySyncCodeResponse">
                <part name="LoadBySyncCodeReturn" type="xsd:string"/>
        </message>
        
        <message name="Save">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveResponse">
                <part name="SaveReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveByIDResponse">
                <part name="RemoveByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveByPublicID">
        		<part name="publicID" type="xsd:string"/>
        </message>
        <message name="RemoveByPublicIDResponse">
                <part name="RemoveByPublicIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveBySyncCode">
        		<part name="syncCode" type="xsd:string"/>
        </message>
        <message name="RemoveBySyncCodeResponse">
                <part name="RemoveBySyncCodeReturn" type="xsd:string"/>
        </message>
        
        <message name="Update">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="UpdateResponse">
                <part name="UpdateReturn" type="xsd:string"/>
        </message>
        
        <portType name="SchoolWSPortType">
                <operation name="LoadAll">
                        <input message="typens:LoadAll"/>
                        <output message="typens:LoadAllResponse"/>
                </operation>
                <operation name="LoadByID">
                        <input message="typens:LoadByID"/>
                        <output message="typens:LoadByIDResponse"/>
                </operation>
                <operation name="LoadByPublicID">
                        <input message="typens:LoadByPublicID"/>
                        <output message="typens:LoadByPublicIDResponse"/>
                </operation>
                <operation name="LoadBySyncCode">
                        <input message="typens:LoadBySyncCode"/>
                        <output message="typens:LoadBySyncCodeResponse"/>
                </operation>
                <operation name="Save">
                        <input message="typens:Save"/>
                        <output message="typens:SaveResponse"/>
                </operation>
                <operation name="RemoveByID">
                        <input message="typens:RemoveByID"/>
                        <output message="typens:RemoveByIDResponse"/>
                </operation>
                <operation name="RemoveByPublicID">
                        <input message="typens:RemoveByPublicID"/>
                        <output message="typens:RemoveByPublicIDResponse"/>
                </operation>
                <operation name="RemoveBySyncCode">
                        <input message="typens:RemoveBySyncCode"/>
                        <output message="typens:RemoveBySyncCodeResponse"/>
                </operation>
                <operation name="Update">
                        <input message="typens:Update"/>
                        <output message="typens:UpdateResponse"/>
                </operation>
        </portType>
        
        <binding name="SchoolWSBinding" type="typens:SchoolWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAll">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadByID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadByPublicID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadBySyncCode">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="Save">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveByID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveByPublicID">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveBySyncCode">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="Update">
                        <soap:operation soapAction="urn:SchoolWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
        </binding>
        
        <service name="ServiceService">
                <port name="SchoolWSPort" binding="typens:SchoolWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/school_ws.php"/>
                </port>
        </service>
</definitions>
