student_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
       	
        <message name="LoadAllStudents"/>
        <message name="LoadAllStudentsResponse">
                <part name="LoadAllStudentsReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadStudentByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadStudentByIDResponse">
                <part name="LoadStudentByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadStudentBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadStudentBySchoolIDResponse">
                <part name="LoadStudentBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadStudentByStudentGroupID">
        		<part name="studentGroupID" type="xsd:int"/>
        </message>
        <message name="LoadStudentByStudentGroupIDResponse">
                <part name="LoadStudentByStudentGroupIDReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveStudent">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveStudentResponse">
                <part name="SaveStudentReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveStudentByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveStudentByIDResponse">
                <part name="RemoveStudentByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveStudentBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="RemoveStudentBySchoolIDResponse">
                <part name="RemoveStudentBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveStudentByStudentGroupID">
        		<part name="studentGroupID" type="xsd:int"/>
        </message>
        <message name="RemoveStudentByStudentGroupIDResponse">
                <part name="RemoveStudentByStudentGroupIDReturn" type="xsd:string"/>
        </message>
        
        <message name="UpdateStudent">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="UpdateStudentResponse">
                <part name="UpdateStudentReturn" type="xsd:string"/>
        </message>
        
		 <portType name="StudentWSPortType">

                <operation name="LoadAllStudents">
                        <input message="typens:LoadAllStudents"/>
                        <output message="typens:LoadAllStudentsResponse"/>
                </operation>
                <operation name="LoadStudentByID">
                        <input message="typens:LoadStudentByID"/>
                        <output message="typens:LoadStudentByIDResponse"/>
                </operation>
                <operation name="LoadStudentBySchoolID">
                        <input message="typens:LoadStudentBySchoolID"/>
                        <output message="typens:LoadStudentBySchoolIDResponse"/>
                </operation>
                <operation name="LoadStudentByStudentGroupID">
                        <input message="typens:LoadStudentByStudentGroupID"/>
                        <output message="typens:LoadStudentByStudentGroupIDResponse"/>
                </operation>
                <operation name="SaveStudent">
                        <input message="typens:SaveStudent"/>
                        <output message="typens:SaveStudentResponse"/>
                </operation>
                <operation name="RemoveStudentByID">
                        <input message="typens:RemoveStudentByID"/>
                        <output message="typens:RemoveStudentByIDResponse"/>
                </operation>
                <operation name="RemoveStudentBySchoolID">
                        <input message="typens:RemoveStudentBySchoolID"/>
                        <output message="typens:RemoveStudentBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveStudentByStudentGroupID">
                        <input message="typens:RemoveStudentByStudentGroupID"/>
                        <output message="typens:RemoveStudentByStudentGroupIDResponse"/>
                </operation>
                <operation name="UpdateStudent">
                        <input message="typens:UpdateStudent"/>
                        <output message="typens:UpdateStudentResponse"/>
                </operation>
               
        </portType>
        
        <binding name="StudentWSBinding" type="typens:StudentWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllStudents">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadStudentByID">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadStudentBySchoolID">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="LoadStudentByStudentGroupID">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="SaveStudent">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="RemoveStudentByID">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="RemoveStudentBySchoolID">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="RemoveStudentByStudentGroupID">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                 
                <operation name="UpdateStudent">
                        <soap:operation soapAction="urn:StudentWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                  
        </binding>
        
        <service name="ServiceService">
                <port name="StudentWSPort" binding="typens:StudentWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/student_ws.php"/>
                </port>
        </service>
</definitions>
