teacher_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
        <message name="LoadAllTeachers"/>
        <message name="LoadAllTeachersResponse">
                <part name="LoadAllTeachersReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadTeachersByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadTeachersByIDResponse">
                <part name="LoadTeachersByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadTeachersBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadTeachersBySchoolIDResponse">
                <part name="LoadTeachersBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadTeachersByLogin">
        		<part name="email" type="xsd:string"/>
        		<part name="passcode" type="xsd:string"/>
        </message>
        <message name="LoadTeachersByLoginResponse">
                <part name="LoadTeachersByLoginReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveTeachers">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveTeachersResponse">
                <part name="SaveTeachersReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveTeachersByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="RemoveTeachersByIDResponse">
                <part name="RemoveTeachersByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveTeachersBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="RemoveTeachersBySchoolIDResponse">
                <part name="RemoveTeachersBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="UpdateTeachers">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="UpdateTeachersResponse">
                <part name="UpdateTeachersReturn" type="xsd:string"/>
        </message>
        
        <portType name="TeacherWSPortType">
                <operation name="LoadAllTeachers">
                        <input message="typens:LoadAllTeachers"/>
                        <output message="typens:LoadAllTeachersResponse"/>
                </operation>
                <operation name="LoadTeachersByID">
                        <input message="typens:LoadTeachersByID"/>
                        <output message="typens:LoadTeachersByIDResponse"/>
                </operation>
                <operation name="LoadTeachersBySchoolID">
                        <input message="typens:LoadTeachersBySchoolID"/>
                        <output message="typens:LoadTeachersBySchoolIDResponse"/>
                </operation>
                <operation name="LoadTeachersByLogin">
                        <input message="typens:LoadTeachersByLogin"/>
                        <output message="typens:LoadTeachersByLoginResponse"/>
                </operation>
                <operation name="SaveTeachers">
                        <input message="typens:SaveTeachers"/>
                        <output message="typens:SaveTeachersResponse"/>
                </operation>
                <operation name="RemoveTeachersByID">
                        <input message="typens:RemoveTeachersByID"/>
                        <output message="typens:RemoveTeachersByIDResponse"/>
                </operation>
                <operation name="RemoveTeachersBySchoolID">
                        <input message="typens:RemoveTeachersBySchoolID"/>
                        <output message="typens:RemoveTeachersBySchoolIDResponse"/>
                </operation>
                <operation name="UpdateTeachers">
                        <input message="typens:UpdateTeachers"/>
                        <output message="typens:UpdateTeachersResponse"/>
                </operation>
        </portType>
        
        <binding name="TeacherWSBinding" type="typens:TeacherWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllTeachers">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadTeachersByID">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadTeachersBySchoolID">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadTeachersByLogin">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveTeachers">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveTeachersByID">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveTeachersBySchoolID">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="UpdateTeachers">
                        <soap:operation soapAction="urn:TeacherWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
        </binding>
        
        <service name="TeacherService">
                <port name="TeacherWSPort" binding="typens:TeacherWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/teacher_ws.php"/>
                </port>
        </service>
</definitions>
