writtenword_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Service" targetNamespace="urn:Service" xmlns:typens="urn:Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
        
        <message name="LoadAllWrittenWords"/>
        <message name="LoadAllWrittenWordsResponse">
                <part name="LoadAllWrittenWordsReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWrittenWordsByID">
        		<part name="id" type="xsd:int"/>
        </message>
        <message name="LoadWrittenWordsByIDResponse">
                <part name="LoadWrittenWordsByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWrittenWordsBySchoolID">
        		<part name="schoolID" type="xsd:int"/>
        </message>
        <message name="LoadWrittenWordsBySchoolIDResponse">
                <part name="LoadWrittenWordsBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="LoadWrittenWordsByStudentID">
        		<part name="studentID" type="xsd:int"/>
        		<part name="amount" type="xsd:int"/>
        </message>
        <message name="LoadWrittenWordsByStudentIDResponse">
                <part name="LoadWrittenWordsByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <message name="SaveWrittenWords">
        		<part name="input" type="xsd:string"/>
        </message>
        <message name="SaveWrittenWordsResponse">
                <part name="SaveWrittenWordsReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveWrittenWordsByID">
        		<part name="idToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveWrittenWordsByIDResponse">
                <part name="RemoveWrittenWordsByIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveWrittenWordsBySchoolID">
        		<part name="schoolIDToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveWrittenWordsBySchoolIDResponse">
                <part name="RemoveWrittenWordsBySchoolIDReturn" type="xsd:string"/>
        </message>
        
        <message name="RemoveWrittenWordsByStudentID">
        		<part name="studentIDToRemove" type="xsd:int"/>
        </message>
        <message name="RemoveWrittenWordsByStudentIDResponse">
                <part name="RemoveWrittenWordsByStudentIDReturn" type="xsd:string"/>
        </message>
        
        <portType name="WrittenWordWSPortType">
                <operation name="LoadAllWrittenWords">
                        <input message="typens:LoadAllWrittenWords"/>
                        <output message="typens:LoadAllWrittenWordsResponse"/>
                </operation>
                <operation name="LoadWrittenWordsByID">
                        <input message="typens:LoadWrittenWordsByID"/>
                        <output message="typens:LoadWrittenWordsByIDResponse"/>
                </operation>
                <operation name="LoadWrittenWordsBySchoolID">
                        <input message="typens:LoadWrittenWordsBySchoolID"/>
                        <output message="typens:LoadWrittenWordsBySchoolIDResponse"/>
                </operation>
                <operation name="LoadWrittenWordsByStudentID">
                        <input message="typens:LoadWrittenWordsByStudentID"/>
                        <output message="typens:LoadWrittenWordsByStudentIDResponse"/>
                </operation>
                <operation name="SaveWrittenWords">
                        <input message="typens:SaveWrittenWords"/>
                        <output message="typens:SaveWrittenWordsResponse"/>
                </operation>
                <operation name="RemoveWrittenWordsByID">
                        <input message="typens:RemoveWrittenWordsByID"/>
                        <output message="typens:RemoveWrittenWordsByIDResponse"/>
                </operation>
                <operation name="RemoveWrittenWordsBySchoolID">
                        <input message="typens:RemoveWrittenWordsBySchoolID"/>
                        <output message="typens:RemoveWrittenWordsBySchoolIDResponse"/>
                </operation>
                <operation name="RemoveWrittenWordsByStudentID">
                        <input message="typens:RemoveWrittenWordsByStudentID"/>
                        <output message="typens:RemoveWrittenWordsByStudentIDResponse"/>
                </operation>
        </portType>
        
        <binding name="WrittenWordWSBinding" type="typens:WrittenWordWSPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="LoadAllWrittenWords">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWrittenWordsByID">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWrittenWordsBySchoolID">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="LoadWrittenWordsByStudentID">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="SaveWrittenWords">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveWrittenWordsByID">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveWrittenWordsBySchoolID">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
                
                <operation name="RemoveWrittenWordsByStudentID">
                        <soap:operation soapAction="urn:WrittenWordWSAction"/>
                        <input>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </input>
                        <output>
                                <soap:body namespace="urn:Service" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                        </output>
                </operation>
        </binding>
        
        <service name="WrittenWordService">
                <port name="WrittenWordWSPort" binding="typens:WrittenWordWSBinding">
                        <soap:address location="http://gatopolisphp.azurewebsites.net/writtenword_ws.php"/>
                </port>
        </service>
</definitions>
